Options -MultiViews
RewriteEngine On 
Options -Indexes

# RewriteBase /telas/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{QUERY_STRING} !^page
# RewriteRule ^(.*)/?$ index.php?page=$1 [L]